<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#" [routerLink]="['']" ><img src="../assets/logo.png" alt="momKidHelper"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" href="#">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>  -->
    </ul>
  </div>
</nav>
<div class="main-conatiner container-fluid">
  <router-outlet></router-outlet>
</div>
