<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark navbar-wrapper fixed-top" *ngIf="currentUser">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><img src="../assets/images/logo.png" /></a>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>


<!-- main app container -->
<div class="jumbotron fixed-top-jumb">
    <div class="container-fluid">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



